<md-toolbar class="md-hue-3" >
  <md-toolbar-tools layout="row">
    <div ng-hide="searchVisible" style="margin-left: 15px; padding-top:10px;">
    <md-button ng-hide="listVisible" class="md-icon-button md-fab" ng-click="listVisible = true">
        <i class="material-icons">list</i>
    </md-button>
    <div ng-show="activeObject[0].Name">
    <md-button ng-hide="!listVisible" class="md-icon-button md-fab" ng-click="listVisible = false">
        <i class="material-icons">note</i>
    </md-button></div>
  </div>
    <span flex hide-gt-md></span>
    <span style="margin-top:30px;" ng-show="searchVisible">TUF-2000M</span>
    <h2  ng-hide="searchVisible">TUF-2000M</h2>
    <span flex></span>
    <div hide-gt-md>
      <md-input-container style="margin-top:24px;" ng-show="searchVisible">
        <label>Search for registers</label>
        <input type = "text" ng-model="search" ng-change="find(search)" />
      </md-input-container>
      <md-button style="margin-top:20px;" ng-hide="searchVisible" class="md-icon-button" ng-click="searchVisible=true">
        <i class="material-icons">search</i>
      </md-button>
    </div>
    <md-input-container style="margin-top:24px; margin-right:20px" hide show-gt-md>
        <label>Search for registers</label>
        <input style="color:#fff;" type = "text" ng-model="search" ng-change="find(search)" />
      </md-input-container>


  </md-toolbar-tools>
</md-toolbar>
<md-toolbar class = "md-hue-1" layout="row" ng-hide="!listVisible">
  <span flex></span>
  <md-button style="margin-top: 10px;" class="md-icon-button" ng-click="previous()" ng-show="listIndex>1">
    <i class="material-icons">arrow_back</i>
  </md-button>
  <md-button style="margin-top: 10px;" class="md-icon-button" ng-click="next()">
    <i class="material-icons">arrow_forward</i>
  </md-button>
  <span flex></span>
</md-toolbar>
<md-content layout="column">
  <div layout = "column" ng-show="search.length>2">
    <div layout="row" >
      <div flex hide show-gt-md ng-click="cancelSearch()"></div>
      <md-content style="max-height:60%;">
      <md-list class="md-dense">
        <md-list-item class="secondary-button-padding"
        ng-repeat="res in searchResults track by $index" ng-click="setActive(searchResults, res.Name)">
          {{res.Register}} - {{res.Name}}</md-list-item>
      </md-list>
    </md-content>
      <div flex="5" hide show-gt-md ng-click="cancelSearch()"></div>
      <div flex hide-gt-md ng-click="cancelSearch()"></div>
  </div>
  <div flex ng-click="cancelSearch()"></div>
</div>

<div layout="column" ng-click="cancelSearch()">
  <div flex ng-if = "activeObject[0].Name && !searchVisible && !listVisible" layout="row">
  <span flex hide show-gt-md></span>
    <md-card flex class="md-padding">
      <h4>Name: {{activeObject[0].Name}}</h4>
      <h5>Last value taken: {{getTime(activeObject[0].Time)}}</h5>
      <div layout = "row">
        <div class="md-padding"><strong>Values</strong></div><div ng-click="null" ng-repeat="obj in activeObject" class="md-padding"><strong>{{obj.Register}}:</strong> {{obj.Value}}</div>
      </div>
    </md-card>
      <span flex hide show-gt-md></span>
  </div>
<div flex layout="row">
  <span flex hide show-gt-md></span>
  <md-content flex layout="column" ng-if="listVisible" ng-hide="searchVisible">

    <md-list class="md-dense" flex>
      <md-list-item ng-repeat="itm in List" ng-click="setActive(List, itm.Name)">
        <h5>{{itm.Register}} - {{itm.Name}}</h5>
      </md-list-item>
    </md-list>

  </md-content>
  <span flex hide show-gt-md></span>
</div>
</div>

</md-content>
